html {
    background: black url(backgound.jpg) center center no-repeat;
    color: white;
}
body {
    display: block;
    place-items: center;
    margin: 0;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

@media (min-width: 500px) {
    body {
        display: grid;
    }
}

.container {
    background: rgba(79, 109, 245, 0.8);
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
}

@media (min-width: 300px) {
    .container {
        margin: 2vh;
        padding: 2rem;
        border-radius: 2rem;
    }
}

@media (min-width: 500px) {
    .container {
        margin: 7vw;
        padding: 3rem;
    }
}

.avatar {
    display: block;
    width: 112px;
    height: auto;
    margin: 0 1em 1em 0;
    border-radius: 50%;
}

@media (min-width: 380px) {
    .avatar {
        float: left;
    }
}

@media (min-width: 930px) {
    .avatar {
        width: clamp( 130px, 14vw, 12rem);
    
    }
}

.titlul-paginii {
    display: block;
    font-size: clamp(2rem, 6vw, 4rem);
    line-height: 1em;
    margin: 0;

}

.descriere-principala {
    display: block;
    margin: 0.5em 0 1.5em;
}

@media (min-width: 500px) {
    .descriere-principala {
        margin-bottom: 0.5em;
    
    }
}

main {
    clear: both;
}

.lista-linkuri {
    display: block;
    margin: 0;
    padding: 0;
    border-top: 1px solid #fff;
}

@media (min-width: 1800px) {
    .lista-linkuri {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

.lista-item {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
}

.lista-link {
    display: block;
    padding: 0.5em;
    color: #fff;
    text-decoration: none;

}

.lista-link:hover{
    background: white;
    color: black;
}

.lista-titluri,
.lista-text {
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.lista-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}